/* Carousel.css */
.carousel {
    height: 60vh; /* Set height to 50% of the viewport height */
    width: 100%;  /* Set width to 100% */
  }
  
  .carousel-inner {
    height: 100%; /* Ensure carousel items take full height */
  }
  
  .carousel-item {
    height: 90%; /* Ensure each carousel item takes full height */
  }
  
  .carousel-image {
    height: 90%; /* Image takes full height of the carousel item */
    object-fit: cover; /* Cover the entire area without distorting */
  }
  